@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WinterTrendy";
  src: url("/fonts/Winter-Trendy.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eeede9;
}

.font-winter {
  font-family: "WinterTrendy", sans-serif;
}
